---
import { ChevronsRight } from "astro-feather-icons";
import MainLayout from "../../layouts/main-layout.astro";
import BlogEntryItemList from "../../components/BlogEntryItemList/BlogEntryItemList.astro";
---

<MainLayout>
    <div class="w-full grid place-items-center">
        <div
            class="rounded-xl w-[95%] lg:w-[80%] mt-24 py-[4.25rem] lg:py-24 text-center bg-black text-3xl sm:text-4xl lg:text-5xl relative z-[1] after:content[''] after:z-[-1] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-[url('/assets/blog_card.webp')] after:bg-cover after:bg-center after:bg-no-repeat after:rounded-xl after:opacity-[.0875]"
        >
            Blog
        </div>
    </div>
    <div class="w-[75%] lg:w-[30%] mx-auto my-8">
        <h5
            class="text-center flex flex-row before:mr-2.5 after:ml-2.5 before:content-[''] before:flex-1 before:m-auto before:border-b before:border-solid after:flex-1 after:m-auto after:border-b after:border-solid before:opacity-[.375] after:opacity-[.375]"
        >
            Marcel Gańczarczyk
        </h5>
    </div>

    <div
        class="mg-container px-2 md:px-0 mx-auto flex flex-col md:flex-row gap-4 mb-8"
    >
        <div class="flex-1 md:flex-initial md:w-8/12">
            <BlogEntryItemList
                createdAt="2.07.2023"
                createdBy="Marcel Gańczarczyk"
                title="Lorem ipsum #1"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                image="/assets/ubb_timetable_card.webp"
                link="/blog/lorem-1"
            />
            <BlogEntryItemList
                createdAt="3.07.2023"
                createdBy="Marcel Gańczarczyk"
                title="Lorem ipsum #2"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                image="/assets/tairiku_card.webp"
                link="/blog/lorem-2"
            />
            <BlogEntryItemList
                createdAt="2.07.2023"
                createdBy="Marcel Gańczarczyk"
                title="Lorem ipsum #3"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                image="/assets/it_technician_exams.webp"
                link="/blog/lorem-3"
            />
        </div>
        <div class="flex-1 md:flex-initial md:w-4/12">
            <div class="bg-[rgba(5,5,5,.4)] rounded px-7 py-8">
                <h3
                    class="text-2xl font-bold mb-8 pb-4 relative border-b border-[#9EA0A063] after:absolute after-content[''] after:w-[45%] after:h-px after:bottom-[-1px] after:left-0 after:bg-[#1ab69d]"
                >
                    Categories
                </h3>
                <p
                    class="flex flex-row items-center mb-3.5 cursor-pointer transition-colors text-[#9EA0A0] hover:text-[#1ab69d]"
                >
                    <ChevronsRight class="inline-block h-[17px] w-[17px]" />
                    <span class="ml-1.5">Lorem ipsum #1</span>
                </p>
                <p
                    class="flex flex-row items-center mb-3.5 cursor-pointer transition-colors text-[#9EA0A0] hover:text-[#1ab69d]"
                >
                    <ChevronsRight class="inline-block h-[17px] w-[17px]" />
                    <span class="ml-1.5">Lorem ipsum #2</span>
                </p>
                <p
                    class="flex flex-row items-center cursor-pointer transition-colors text-[#9EA0A0] hover:text-[#1ab69d]"
                >
                    <ChevronsRight class="inline-block h-[17px] w-[17px]" />
                    <span class="ml-1.5">Lorem ipsum #3</span>
                </p>
            </div>
        </div>
    </div>
</MainLayout>

<style>
    .portfolio-item:last-of-type {
        margin-bottom: 6rem;
    }

    .portfolio-item:nth-of-type(even) > div {
        flex-direction: row-reverse;
    }

    @media screen and (max-width: 1024px) {
        .portfolio-item:nth-of-type(even) > div {
            flex-direction: column-reverse;
        }
        .portfolio-item:last-of-type {
            margin-bottom: 3rem;
        }
    }
</style>
