---
import { SolidImg } from "../../components/ImagePreview/SolidImg";
import MainLayout from "../../layouts/main-layout.astro";
---

<MainLayout>
    <div class="w-full grid place-items-center">
        <div
            class="rounded-xl w-[95%] lg:w-[80%] mt-24 py-[4.25rem] lg:py-24 text-center bg-black text-3xl sm:text-4xl lg:text-5xl relative z-[1] after:z-[-1] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-[url('/assets/auto_avatar_cropper.webp')] after:bg-cover after:bg-center after:bg-no-repeat after:rounded-xl after:opacity-[.0875]"
        >
            Auto Avatar Cropper
        </div>
    </div>
    <div class="w-3/4 lg:w-[30%] mx-auto my-8">
        <h5
            class="text-center flex flex-row before:mr-2.5 after:ml-2.5 before:flex-1 before:m-auto before:border-b before:border-solid after:flex-1 after:m-auto after:border-b after:border-solid before:opacity-[.375] after:opacity-[.375]"
        >
            Marcel Gańczarczyk
        </h5>
    </div>

    <div
        class="mg-container px-2 md:px-0 mx-auto flex flex-col md:flex-row gap-4 mb-8"
    >
        <div class="flex-1 md:flex-initial md:w-4/12">
            <div class="pb-6 mb-12 md:mb-20 border-b border-[#9EA0A063]">
                <h2
                    class="mb-8 text-3xl text-center md:text-left md:text-4xl lg:text-5xl font-bold"
                >
                    Auto Avatar Cropper Details
                </h2>
                <p class="text-[#9EA0A0]">
                    A website that allows you to automatically crop faces from
                    images using artificial intelligence. The trained model
                    returns a square image with the face cropped 1:1. The model
                    works very well with images of people, but should also
                    recognize faces of anime characters. It's completely free
                    and without ads.
                </p>
                <p class="mt-5">
                    <p class="text-[#9EA0A0]">
                        WEB・<a
                            class="transition-colors text-[#1ab69d] hover:text-[#067259]"
                            href="https://auto-avatar-cropper.mganczarczyk.pl"
                            >CLICK HERE</a
                        >
                    </p>
                </p>
            </div>
            <div>
                <h4
                    class="text-2xl font-bold pb-3 mb-6 relative before:absolute before:bottom-0 before:left-0 before:w-[80%] md:before:w-[90%] before:h-px before:bg-[#9EA0A063] after:absolute after:left-0 after:bottom-0 after:w-1/3 after:h-px after:bg-[#1ab69d]"
                >
                    Project Details
                </h4>
                <div>
                    <div
                        class="mb-4 pb-4 relative before:absolute before:w-2/3 before:h-px before:bottom-0 before:left-0 before:bg-[#9EA0A063]"
                    >
                        <h6 class="text-lg font-bold mb-1">Date:</h6>
                        <span
                            class="pl-10 text-[#9EA0A0] relative before:absolute before:w-8 before:h-px before:top-1/2 before:left-0 before:bg-[#1ab69d]"
                            >2023</span
                        >
                    </div>
                    <div
                        class="mb-4 pb-4 relative before:absolute before:w-2/3 before:h-px before:bottom-0 before:left-0 before:bg-[#9EA0A063]"
                    >
                        <h6 class="text-lg font-bold mb-1">Tech stack:</h6>
                        <span
                            class="pl-10 text-[#9EA0A0] relative before:absolute before:w-8 before:h-px before:top-1/2 before:left-0 before:bg-[#1ab69d]"
                            >React・Python・PyTorch</span
                        >
                    </div>
                    <div
                        class="mb-4 pb-4 relative before:absolute before:w-2/3 before:h-px before:bottom-0 before:left-0 before:bg-[#9EA0A063]"
                    >
                        <h6 class="text-lg font-bold mb-1">Availability:</h6>
                        <span
                            class="pl-10 text-[#9EA0A0] relative before:absolute before:w-8 before:h-px before:top-1/2 before:left-0 before:bg-[#1ab69d]"
                            >WEB</span
                        >
                    </div>
                    <div
                        class="mb-4 pb-4 relative before:absolute before:w-2/3 before:h-px before:bottom-0 before:left-0 before:bg-[#9EA0A063]"
                    >
                        <h6 class="text-lg font-bold mb-1">License:</h6>
                        <a
                            class="transition-colors text-[#1ab69d] hover:text-[#067259] pl-10 relative before:absolute before:w-8 before:h-px before:top-1/2 before:left-0 before:bg-[#1ab69d]"
                            href="https://github.com/TheMultii/AutoAvatarCropper"
                            >MIT</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1 md:flex-initial md:w-8/12">
            <div class="grid grid-cols-2 gap-1.5 md:gap-6">
                {
                    ["aac-1", "aac-2", "aac-3", "aac-4"].map((e) => {
                        return (
                            <div class="relative pb-[100%] rounded-lg overflow-hidden">
                                <SolidImg
                                    client:visible
                                    alt={e}
                                    src={`/assets/auto_avatar_cropper/${e}.webp`}
                                />
                            </div>
                        );
                    })
                }
            </div>
        </div>
    </div>
</MainLayout>
