---
import "./Nav.css";

const path = Astro.url.pathname.toLowerCase();
const email = "marcel@mganczarczyk.pl";
---

<nav class="my-5 z-10 fixed flex top-0 left-1/2 -translate-x-1/2">
    <div
        class="p-1 flex justify-rows align-center rounded-3xl bg-[rgba(5,5,5,.4)] backdrop-blur-[100px] backdrop-saturate-150"
        style="border: 1px solid rgba(255, 255, 255, 0.125);"
    >
        <a
            href="/"
            class={`h-[40px] leading-10 text-white px-4 rounded-3xl ${
                path == "/"
                    ? "bg-[rgba(48,48,48,.4)]"
                    : "transition hover:bg-[rgba(48,48,48,.4)]"
            }`}
        >
            Home
        </a>
        <a
            href="/projects"
            class={`h-[40px] leading-10 text-white px-4 rounded-3xl mx-2 ${
                path.startsWith("/projects")
                    ? "bg-[rgba(48,48,48,.4)]"
                    : "transition hover:bg-[rgba(48,48,48,.4)]"
            }`}
        >
            Projects
        </a>
        <a
            href="/blog"
            class={`h-[40px] leading-10 text-white px-4 rounded-3xl ${
                path.startsWith("/blog")
                    ? "bg-[rgba(48,48,48,.4)]"
                    : "transition hover:bg-[rgba(48,48,48,.4)]"
            }`}
        >
            Blog
        </a>
    </div>
    <div
        class="ml-2 p-1 flex justify-rows align-center rounded-3xl bg-[rgba(5,5,5,.4)] backdrop-blur-[100px] backdrop-saturate-150"
        style="border: 1px solid rgba(255, 255, 255, 0.125);"
    >
        <a
            href={`mailto:${email}`}
            class="transition spin_animation hover:bg-[rgba(48,48,48,.4)] h-[40px] leading-10 text-white px-[9.01px] rounded-3xl"
        >
            🤙
        </a>
    </div>
</nav>
